Patron_Estrategia/bin/Debug/net6.0/Patron_Estrategia.deps.json
Patron_Estrategia/bin/Debug/net6.0/Patron_Estrategia.dll
Patron_Estrategia/bin/Debug/net6.0/Patron_Estrategia.exe
Patron_Estrategia/bin/Debug/net6.0/Patron_Estrategia.pdb
Patron_Estrategia/bin/Debug/net6.0/Patron_Estrategia.runtimeconfig.json
Patron_Estrategia/bin/Debug/net6.0/ref/Patron_Estrategia.dll
Patron_Estrategia/obj/Patron_Estrategia.csproj.nuget.dgspec.json
Patron_Estrategia/obj/Patron_Estrategia.csproj.nuget.g.props
Patron_Estrategia/obj/Patron_Estrategia.csproj.nuget.g.targets
Patron_Estrategia/obj/project.assets.json
Patron_Estrategia/obj/project.nuget.cache
Patron_Estrategia/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Patron_Estrategia/obj/Debug/net6.0/apphost.exe
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.AssemblyInfo.cs
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.AssemblyInfoInputs.cache
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.assets.cache
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.csproj.AssemblyReference.cache
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.csproj.CoreCompileInputs.cache
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.csproj.FileListAbsolute.txt
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.dll
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.GeneratedMSBuildEditorConfig.editorconfig
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.genruntimeconfig.cache
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.GlobalUsings.g.cs
Patron_Estrategia/obj/Debug/net6.0/Patron_Estrategia.pdb
Patron_Estrategia/obj/Debug/net6.0/ref/Patron_Estrategia.dll
